
#logo {
	height: 150px;
	display: inline;
}
#titulo {
	font: bold 25px Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	display: inline;
	margin: 20px

}

li {
	padding: 10px;
	margin-top: 0px;
	display: inline-block;
	font: bold 15px Tahoma, Verdana, Segoe, sans-serif;
}
#text {
	font: bolder 17px Tahoma, Verdana, Segoe, sans-serif;
	padding-left: 30px
}

#login_box {
	border: 1px solid black;
	margin: 70px;
	font: bold 12px Tahoma, Verdana, Segoe, sans-serif;
}

.box {
	display: block;
}

table {
	font: bold 14px Tahoma, Verdana, Segoe, sans-serif;
	margin-top: 10px;
	border: 1px solid black
}
th {
	font: bolder 14px Tahoma, Verdana, Segoe, sans-serif;
	padding: 8px
}

td {
	padding: 5px
}

.table-striped tbody tr:nth-of-type(odd){
	background-color:rgba(0,0,0,.15)
}
